@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/Arsenal-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Arsenal-Regular.woff') format('woff'), url('../fonts/Arsenal-Regular.ttf')  format('truetype'), url('../fonts/Arsenal-Regular.svg#Arsenal-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/Arsenal-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Arsenal-Bold.woff') format('woff'), url('../fonts/Arsenal-Bold.ttf')  format('truetype'), url('../fonts/Arsenal-Bold.svg#Arsenal-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/Arsenal-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Arsenal-Italic.woff') format('woff'), url('../fonts/Arsenal-Italic.ttf')  format('truetype'), url('../fonts/Arsenal-Italic.svg#Arsenal-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Arsenal';
	src: url('../fonts/Arsenal-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Arsenal-BoldItalic.woff') format('woff'), url('../fonts/Arsenal-BoldItalic.ttf')  format('truetype'), url('../fonts/Arsenal-BoldItalic.svg#Arsenal-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf')  format('truetype'), url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf')  format('truetype'), url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}


body{
	background: #ffffff;
    margin:0;
	padding: 0;
	font-family: 'Arsenal', sans-serif;
	font-size: 15px;
    font-weight: 400;
	color: rgb(54, 54, 54);
	line-height:1.35; 
	min-width: 360px;
	position: relative;
}

button,input,select,textarea{
    font-family: 'Arsenal'; 
    font-size: 17px;
}

.wrapper {
    max-width:1200px;
    padding:0 40px;
    margin:0 auto;
}

p {
	font: 400 17px  "Circe";
	line-height: 1.65;
	color: rgb(54, 54, 54);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* buttons */

.button {
    display:inline-block;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    text-align: center;
	padding: 0 15px;
}

.button_transparent {
	border: 2px solid #ffb629;
	border-radius: 30px;
	width: 100%;
	max-width: 204px;
	height: 50px;
	font: 400 19px/46px "Arsenal";
	color: rgb(255, 170, 7);
}

.button_brown {
	border: 2px solid rgb(204, 165, 122);
	background-color: rgb(255, 255, 255);
	max-width:  415px;
	height: 55px;
	font: 400 18px/55px "Circe";
	color: rgb(204, 165, 122);
}

.button_brown:hover {
	background-color: rgb(204, 165, 122);
	color: rgb(255, 255, 255);
}

.button_transparent-white {
	color: rgb(255, 255, 255);
}

.button_orange {
	background: rgb(254,193,0);
	background-image: -moz-linear-gradient( 90deg, rgb(255,169,0) 0%, rgb(254,193,0) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,169,0) 0%, rgb(254,193,0) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,169,0) 0%, rgb(254,193,0) 100%);
	box-shadow: 0 4px 0 0 #7e5300;
	border-radius: 5px;
	width: 257px;
	height: 67px;
	font: 400 18px/67px "Arsenal";
	letter-spacing: 0.5px;
	color: rgb(255, 255, 255);
}

.button_wood {
	background: url(../../images/button_background.png) no-repeat center #bc9169;
	box-shadow: 0 4px 0 0 #7c562e;
}

.caption {
    font: 700 50px Arsenal;
    text-align: center;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}




/*media*/ 

@media screen and (max-width: 1279px) {
	.wrapper {
		padding: 0 15px;
	}
		
}

@media screen and (max-width: 1023px) {
    .caption {
		font-size: 40px;
	}
		
}

@media screen and (max-width: 767px) {
    .caption {
		font-size: 30px;
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 639px) {
	
}




