header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding-top: 40px;
}

.header__content {
	max-width:1800px;
    padding:0 40px;
    margin:0 auto;
}

.header__center-block {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.languages {
	justify-content: center;
	margin-bottom: 43px;
}

.languages__item {
	font: 400 20px "Arsenal";
	color: rgb(255, 255, 255);
	padding: 0 13px;
	cursor: pointer;
}

.languages__item_active {
	font-weight: 700;
	color: rgb(223, 188, 150);	
}

.logo {
    display: block;
    background: url(../../images/logo.png) no-repeat center;
    background-size: contain;
    width: 242px;
    height: 103px;
	margin: 0 auto;
}

.menu-screen {
    display: none;
    background: url(../../images/bg_menu.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	min-height: 100vh;
    z-index: 2;
    padding: 50px 0 100px;
}

.menu-screen__background {
	background: rgba(255,255,255,0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.menu-screen__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-menu {
    display: block;
    background: url(../../images/logo-menu.png) no-repeat center;
    background-size: contain;
    width: 406px;
    height: 157px;
	position: relative;
	margin-bottom: 120px;
}

.menu {
    margin: 0;
    padding: 0;
    height: auto;
    min-width: 360px;
}

.menu li {
    list-style: none;
    position: relative;
}

.menu>li.menu-item-has-children {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu>li {
	box-sizing: border-box;
	margin: 0 auto;
	width: 400px;
    padding: 0 80px;
}

.menu>li:first-child {
	float: left;
}

.menu>li:nth-child(3) {
	float: left;
}

.menu>li:before {
	content: "";
	border-radius: 50%;
	background-color: rgb(137, 137, 137);
	width: 4px;
	height: 4px;
	position: absolute;
	left: 67px;
    top: 30px;
}

.menu li a {
    display: inline-block;
	font: 700 30px "Arsenal";
	color: rgb(43, 42, 41);
    text-decoration: none;
    padding: 10px 0;  
}

.sub-menu {
	padding-left: 7px;
	margin-bottom: 25px;
}

.sub-menu li a {
    display: inline-block;
	font: 400 20px "Circe";
	color: rgb(163, 139, 116);
    text-decoration: none;
    padding: 3px 0;  
	max-width: 300px;
}

/*burger*/

.burger {
    width: 40px;
    height: 42px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.burger_active {
    z-index: 4;
    position: absolute;
    top: 40px;
    right: 55px;
}

.burger span, .burger span::before, .burger span::after {
    display: block;
    cursor: pointer; 
    height: 2px;
    width: 30px;
    background: #ffffff;
    position: absolute;
    top: 10px;
    right: 5px;
    transition: all .2s ease-in-out;
}

.burger span::before {
    content: '';
    left: 0;
	width: 23px;
}

.burger span::after {
    content: '';
    left: 0;
    top: 20px;
}

.burger_active span {
    background-color: transparent;
}
    
 .burger_active span::before  {
	background: #363636;
    transform: rotate(45deg);
	width: 30px;
    top: 10px;
}

 .burger_active span::after  {
	background: #363636;
    transform: rotate(-45deg);
	width: 30px;
    top: 10px;
} 

.header__contacts {
	position: relative;
	z-index: 2;
}

.header__contact {
	display: block;
	font: 400 22px "Arsenal";
	color: rgb(255, 255, 255);
	text-align: right;
	text-decoration: none;
}

.header__contact_mail {
	font-size: 18px;
	margin: 6px 0 38px;
}

.header__contact_mobile {
	display: none;
	border-radius: 50%;
	background: url('../../images/sprites.png') no-repeat -151px -86px #c8b7a5;
	width: 33px;
	height: 33px;
	position: relative;
	z-index: 2;
}

/*media*/ 

@media screen and (max-width: 1279px) {
	.header__content {
		padding: 0 15px;
	}
}

@media screen and (max-width: 1023px) {
	header {
		padding-top: 15px;
	}
	
	.header__center-block {
		top: 15px;
	}
	
	.languages {
		margin-bottom: 20px;
	}
	
	.logo {
		width: 200px;
		height: 83px;
	}
	
	.header__contact_mail {
		margin: 6px 0 20px;
	}
}

@media screen and (max-width: 767px) {
	.menu-screen {
		padding: 15px 0 30px;
	}
	
	.burger_active {
		top: 20px;
		right: 17px;
	}

	
	.burger span::after {
		top: 12px;
	}
	
	.burger span::before {
		display: none;
	}
	
	.burger_active span::before {
		display: block;
	}
	
	.burger_active span::after {
		top: 10px;
	}
	
	.languages__item {
		font-size: 15px;
	}
	
	.header__contacts {
		display: none;
	}
	
	.header__contact_mobile {
		display: block;
	}
	
	.logo {
		width: 115px;
		height: 50px;
	}
	
	.menu>li.menu-item-has-children {
		display: block;
		float: none;
		width: 220px;
		padding: 0 15px;
	}
	
	.menu>li {
		box-sizing: border-box;
		width: 220px;
		padding: 0 15px;
		margin: 0 auto;
	}
	
	.menu>li:before {
		left: 7px;
		top: 23px;
	}
	
	.logo-menu {
		width: 105px;
		height: 40px;
		margin-bottom: 35px;
	}
	
	.menu li a {
		font-size: 22px; 
	}

	.sub-menu li a {
		font-size: 15px;
	}
}

@media screen and (max-width: 639px) {
	
}