.inner-page {
    padding: 66px 0 250px;
	overflow: hidden;
}

.inner-page__caption {
    margin-bottom: 32px;
}

.partners-page__buttons {
    justify-content: center;
    margin: 47px 0;
}

.partners-page__buttons .button {
	width: 415px;
	margin: 0 10px;
}

.partners-page__buttons .button.active {
	background-color: rgb(204, 165, 122);
	color: rgb(255, 255, 255);
}

.partners-page__button-wr {
    justify-content: center;
    margin-top: 67px;
}

.partners-page__button-wr .button {
    max-width: 260px;
}

.slider-partners {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.slider-partners__wrapper {
	position: relative;
	width: 500%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	transition: margin-left 0.5s linear 0s;
    -webkit-transition: margin-left 0.5s linear 0s;
    -o-transition: margin-left 0.5s linear 0s;
}

.slider-partners__slide {
	width: 20%;
	display: inline;
	float: left;
	overflow: hidden;
	padding-bottom: 30px;
}

/*media*/ 

@media screen and (max-width: 1279px) {
	
		
}

@media screen and (max-width: 1023px) {
	.inner-page {
		padding: 66px 0 101px;
	}
	
   .partners-page__buttons .button {
		width: 300px;
	}
	
	.partners-page__buttons .button {
		margin: 10px 0;
	}
		
}

@media screen and (max-width: 767px) {
	
	.inner-page {
		padding: 40px 0;
	}
	
	.inner-page__caption {
		margin-bottom: 20px;
	}
	
    .partners-page__buttons {
		flex-direction: column;
		align-items: center;
		margin: 0 20px;
	}

}

@media screen and (max-width: 639px) {
	
}