.partners-screen {
	overflow: hidden;
}

.partners-mobile {
	display:  none;
}

.partners__item {
	background-color: #ece8e3;
	width: 25%;
	padding-top: 25%;
	position: relative;
}

.partners__item-wr  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	align-items: center;
    justify-content: center;
}

.partners__item-wr_colored {
	background-color: #f9f8f7;
}

.partners__content {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partners__partner {
	width: 300px;
	height: 230px;
	position: relative;
	transition: transform 0.8s ease-in-out;
	transform: translate(0, 0);
}

.partners__partner_basf {
	background: url(../../images/logo/basf_sprites.png) no-repeat -39px -11px;
}

.partners__partner_wood {
    background: url(../../images/logo/wood_sprites.png) no-repeat -15px -50px;
}

.partners__partner_teknos {
    background: url(../../images/logo/teknos_sprites.png) no-repeat -39px 8px;
}

.partners__partner_fordaq {
    background: url(../../images/logo/fordaq_sprites.png) no-repeat -51px 7px;
}

.partners__partner_sberbank {
    background: url(../../images/logo/sber_sprites.png) no-repeat -14px -52px;
}

.partners__partner_vtb {
    background: url(../../images/logo/vtb_sprites.png) no-repeat -24px -1px;
}

.partners__partner_muhlbock {
    background: url(../../images/logo/muhl_sprites.png) no-repeat -9px 3px;
}

.partners__partner_akzonobel {
    background: url(../../images/logo/akzo_sprites.png) no-repeat -35px 7px;
}

.partners__item-wr:hover .partners__partner {
	transform: translate(0, -50px);
	filter: contrast(0) sepia(1) ;
    -webkit-filter: contrast(0) sepia(1) ;
    -moz-filter: contrast(0) sepia(1) ;
	position: relative;
}




.partners__item-wr .partners__partner_basf {
	background-position-x: -418px;
}

.partners__item-wr .partners__partner_wood {
    background-position-x:  -351px;
}

.partners__item-wr .partners__partner_teknos {
    background-position-x:  -410px;
}

.partners__item-wr .partners__partner_fordaq {
    background-position-x:  -459px;
}

.partners__item-wr .partners__partner_sberbank {
    background-position-x:  -342px;
}

.partners__item-wr .partners__partner_vtb {
	background-position-x:  -382px;
}

.partners__item-wr .partners__partner_muhlbock {
    background-position-x:  -325px;
}

.partners__item-wr.partners__partner_akzonobel {
    background-position-x:  -406px;
}

.partners__description {
	font: 400 20px "Circe";
	color: rgb(54, 54, 54);
	text-align: center;
	padding: 0 10px;
	max-width: 300px;
	position: absolute;
	opacity: 0;
	bottom: 0;
	transition: all 0.8s ease-in-out;
}

.partners__item-wr:hover .partners__description  {
	opacity: 1;
	bottom: 15px;
}

/*media*/ 

@media screen and (max-width: 1279px) {
	
	.partners__item {
		width: 33.3333%;
		padding-top: 33.3333%;
	}
	
	.partners__item:nth-child(4n) {
		display: none;
	}
	
}

@media screen and (max-width: 1023px) {
	.partners-screen {
		background: #ece8e3;
		padding: 35px 0;
	}
	
	.partners {
		display: none;
	}
	
	.partners-mobile {
		display: block;
	}
	
	.partners__item {
		padding: 0;
		justify-content: center;
		align-items: center;
	}
	
	.partners-screen .slick-prev,
	.partners-screen .slick-next {
		top: 50%;
	}
	
	.partners-screen .slick-track {
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width: 767px) {
	.partners__item:nth-child(4n) {
		display: block;
	}
	
}

@media screen and (max-width: 639px) {
	
}
