.partners-screen {
	overflow: hidden;
}

.partners-mobile {
	display:  none;
}

.partners__item {
	background-color: #ece8e3;
	width: 25%;
	padding-top: 25%;
	position: relative;
}

.partners__item-wr  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	align-items: center;
    justify-content: center;
}

.partners__item-wr_colored {
	background-color: #f9f8f7;
}

.partners__content {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partners__partner {
	width: 300px;
	height: 230px;
}

.partners__partner_basf {
	background: url(../../images/logo/basf.png) no-repeat center;
	background-size: contain;
}

.partners__partner_wood{	
	background: url(../../images/logo/wood.png) no-repeat center;
	background-size: contain;
}

.partners__teknos_teknos {
    background: url(../../images/logo/t.png) no-repeat center;
	background-size: contain;
}

.partners__teknos_fordaq {
    background: url(../../images/logo/fordaq.png) no-repeat center;
	background-size: contain;
}

.partners__partner_sberbank {
    background: url(../../images/logo/sber.png) no-repeat center;
	background-size: contain;
}

.partners__partner_vtb {
	background: url(../../images/logo/vtb.png) no-repeat center;
	background-size: contain;
}

.partners__partner_muhlbock {
    background: url(../../images/logo/m.png) no-repeat center;
	background-size: contain;
}

.partners__partner_akzonobel {
    background: url(../../images/logo/akzo.png) no-repeat center;
	background-size: contain;
}

.partners__item-wr:hover .partners__content {
	transition: all 0.5s linear;
	transform: translate(0, -15px);
}

.partners__item-wr:hover .partners__partner_basf {
	background: url(../../images/logo/basf2.png) no-repeat center;
	background-size: contain;
}

.partners__item-wr:hover .partners__partner_wood{	
	background: url(../../images/logo/wood2.png) no-repeat center;
	background-size: contain;
}

.partners__item-wr:hover .partners__teknos_teknos {
    background: url(../../images/logo/t2.png) no-repeat center;
	background-size: contain;
}

.partners__item-wr:hover .partners__teknos_fordaq {
    background: url(../../images/logo/fordaq2.png) no-repeat center;
	background-size: contain;
}

.partners__item-wr:hover .partners__partner_sberbank {
    background: url(../../images/logo/sber2.png) no-repeat center;
	background-size: contain;
}

.partners__item-wr:hover .partners__partner_vtb {
	background: url(../../images/logo/vtb2.png) no-repeat center;
	background-size: contain;
}

.partners__item-wr:hover .partners__partner_muhlbock {
    background: url(../../images/logo/m2.png) no-repeat center;
	background-size: contain;
}

.partners__item-wr:hover .partners__partner_akzonobel {
    background: url(../../images/logo/akzo2.png) no-repeat center;
	background-size: contain;
}

.partners__description {
	display: none;
	font: 400 20px "Circe";
	color: rgb(54, 54, 54);
	text-align: center;
	max-width: 300px;
}

.partners__item-wr:hover .partners__description  {
	display: block;
}

/*media*/ 

@media screen and (max-width: 1279px) {
    .partners__partner {
		width: 240px;
		height: 190px;
	}
	
}

@media screen and (max-width: 1023px) {
	.partners-screen {
		background: #ece8e3;
		padding: 35px 0;
	}
	
	.partners {
		display: none;
	}
	
	.partners-mobile {
		display: block;
	}
	
	.partners__item {
		padding: 0;
		justify-content: center;
		align-items: center;
	}
	
	.partners-screen .slick-prev,
	.partners-screen .slick-next {
		top: 50%;
	}
	
	.partners-screen .slick-track {
		display: flex;
		align-items: center;
	}
}

@media screen and (max-width: 767px) {
	.partners__partner {
		width: 200px;
		height: 110px;
	}
	
}

@media screen and (max-width: 639px) {
	
}
