.products-page  .inner-page {
    padding-bottom: 0;
}

.products-page__buttons {
    justify-content: center;
    margin: 39px 0 18px;
}

.products-page__buttons .button {
    width: 265px;
    margin: 0 10px;
}

.products-page  .plates {
    padding-bottom: 260px;
}

.products-page .plates__plate {
	position: relative;
	padding-bottom: 180px
}

.products-page .plates__description {
	-webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
     -o-transition: all 0.2s linear;
     transition: all 0.2s linear;
}

.products-page .plates__plate .plates__text {
    box-sizing: border-box;
    background: #fff;
    padding: 20px 25px 40px;
	position: absolute;
	top: 260px;
	left: 20px;
	right: 20px;
	box-sizing: border-box;
	z-index: 1;
}

@media screen and (min-width: 1024px) {
	.products-page .plates__plate:hover .plates__text {
		box-shadow: 0 0 20px 0 #efeded;
	} 	
	
	.products-page .plates__plate:hover .plates__description {
		height: 100%;
		overflow: hidden;
	}
}

.products-page .plates__description {
    height: 23px;
    overflow: hidden;
}

.plates__characteristic {
    font: 400 15px Circe;
    color: #363636;
    line-height: 1.75;
}

.plates__characteristic span {
	font-weight: 700;
}

.plates__button {
	max-width: 260px;
	background: #ffffff;
	margin-top: 18px;
}
	
.plates__down-button, .plates__up-button {
	display: none;
	font: 400 18px "Circe";
	color: rgb(204, 165, 122);
}
	
.plates__up-button.active {
	display: none;
}

.plates__down-button.active {
	display: block;
}

.product-page__photos {
	margin-bottom: 50px;
}

.product-page__photo__main-photo {
	background: url(../../images/house1.jpg) no-repeat center;
	background-size: cover;
	width: 50%;
	height: auto;
}

.product-page__product-slider {
    box-sizing: border-box;
    width: 50%;
    padding-left: 50px;
}

.product-slider__big-image.slick-slider {
    height: auto;
}

.slider-for__item img {
	width: 100%;
	height: 330px;
}

.slider-nav {
	margin-top: 15px;
	height: auto;
}

.slider-nav__item {
    justify-content: center;
    box-sizing: border-box;
    padding: 0 10px;
}

.slider-nav__item img {
	height: 80px;
	cursor: pointer;
}

.product-page .slick-prev,
.product-page .slick-next {
		width: 32px;
		height: 32px;
		left: -25px;;
	}

.product-page .slick-next {
	left: auto;
		right: -25px;
	}

.product-page .slick-next:before, .product-page .slick-prev:before {
		font-size: 22px;
		width: 10px;
		height: 12px;
	}
	
.product-page .slick-prev:before {
		left: 10px;
	}
	
.product-page .slick-next:before {
		left: 12px;
	}

.product-page__button {
	margin: 0 auto;
}

.product-page .documents-screen__documents {
    margin: 50px 0 80px;
}

.product-page .documents-screen__icon {
	background: url(../../images/icons/document2.png) no-repeat center;
	background-size: contain;
}

.product-page .documents-screen__name {
	font: 700 16px "Circe";
	color: rgb(54, 54, 54);
}


/*projects-page*/ 

.projects-page .plates__caption {
	text-align: center;
	margin: 10px 0;
}

.projects-page  .plates__button {
    margin: 18px auto;
    display: block;
}

/*project-page*/ 

.project-page .inner-page {
	padding:  66px 0 100px;
}

.project-page__small-caption {
	font: 700 22px "Circe";
	margin-bottom: 15px;
}

.project-page__list-caption {
	font: 400 20px "Circe";
}

.img-text ul {
	padding-left: 15px;
}

.img-text li {
	font: 400 16px "Circe";
	color: rgb(54, 54, 54);
	list-style: none;
	position: relative;
	margin: 5px 0;
}

.img-text li:before {
    content: "";
    border-radius: 50%;
    background-color: #d9c5b0;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 8px;
    left: -18px;
}

.project-page__button {
	margin: 0 auto;
}


	
/*media*/ 

@media screen and (max-width: 1279px) {
		
}

@media screen and (max-width: 1023px) {
	.products-page .plates__description {
		height: auto;
	}
	
	.plates__up-button {
		display: block;
	}
	
	.products-page .plates__plate .plates__text {
		text-align: center;
	}
	
	.plates__more-info {display: none;}
	
	.product-page__photos {
		flex-direction: column;
		align-items: center;
	}
	
	.product-page__photo__main-photo {
		width: calc(100% + 30px);
		height: 300px;
		max-width: 600px;
		margin: 0 -15px 20px;
	}
	
	.product-page__product-slider {
		max-width: 600px;
		width: 100%;
		padding-left: 0;
	}
	
	.product-page .documents-screen__document {
		width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.products-page__buttons {
		flex-direction: column;
		align-items: center;
	}
	
	.products-page .plates__plate .plates__text {
		position: static;
	}
	
	.products-page__buttons .button {
		margin: 10px 0;
	}
	
    .products-page .plates__img, .projects-page .plates__img {
		display: block;
	}
	
	.products-page .plates__plate, .projects-page .plates__plate{
		padding: 20px 0;
	}
	
	.projects-page .plates__description {
		padding: 0 15px;
	}
	
	.product-page .documents-screen__name {
		max-width: 350px;
		margin: 0 auto;
	}
	
}

@media screen and (max-width: 500px) {
	.slider-for__item img {
		height: 200px;
	}
}