<div class="advantages-screen">
	<div class="wrapper">
		<div class="caption">Преимущество работы с нами</div>
		<div class="advantages">
			<div class="advantages__item advantages__item_1 flex">
				<div class="advantages__img"></div>
				<div class="advantages__text">
					<div class="advantages__caption">Честность</div>
					<div class="advantages__description">Мы дорожим клиентами и репутацией. При расчете объема домокомплекта Вы получите выверенные данные с точностью до тысячных кубометра. Не перекладываем свои ошибки на плечи клиента.</div>
				</div>
			</div>
			<div class="advantages__item advantages__item_2 flex">
				<div class="advantages__img"></div>
				<div class="advantages__text">
					<div class="advantages__caption">Собственное проектирование</div>
					<div class="advantages__description">Создаем эскизные проекты, разрабатываем рабочую документацию, а также производим оценку сторонних проектов.</div>
				</div>
			</div>
			<div class="advantages__item advantages__item_3 flex">
				<div class="advantages__img"></div>
				<div class="advantages__text">
					<div class="advantages__caption">Максимальная степень заводской готовности</div>
					<div class="advantages__description">Оборудование компании позволяет выполнять все необходимые операции в цеховых условиях, Вам не придется зависеть от погоды.</div>
				</div>
			</div>
			<div class="advantages__item advantages__item_4 flex">
				<div class="advantages__img"></div>
				<div class="advantages__text">
					<div class="advantages__caption">Оптимальная стоимость</div>
					<div class="advantages__description">Финальная стоимость клееного бруса с нарезанными соединениями по проекту. Обработка торцов герметиком от растрескивания, упаковка транспортных пакетов, погрузочно-разгрузочные работы входят в стоимость, не требуется никаких доплат.</div>
				</div>
			</div>
			<div class="advantages__item advantages__item_5 flex">
				<div class="advantages__img"></div>
				<div class="advantages__text">
					<div class="advantages__caption">Высокое качество</div>
					<div class="advantages__description">Используем северную древесину (100% ель) экспортного качества. Клеевая система ЭПИ без содержания формальдегида и толуола. Станки с ЧПУ, «отсутствие человеческого фактора». Клееный брус сертифицирован добровольно, все материалы для обработки древесины от мировых лидеров - компаний Sikkens и Teknos. Свой отдел технического контроля. Система ИСО-9001.</div>
				</div>
			</div>
			<div class="advantages__item advantages__item_6 flex">
				<div class="advantages__img"></div>
				<div class="advantages__text">
					<div class="advantages__caption">Удобство сборки</div>
					<div class="advantages__description">При производстве бруса детали изготавливаются в порядке сборки объекта по венцам, что увеличивает скорость монтажных работ. Каждая деталь имеет маркировку штрихкода, фамилию исполнителя и печать ОТК. Проверка комплектности заказа осуществляется с использованием сканера, что гарантирует наличие всех деталей проекта.</div>
				</div>
			</div>
		</div>
	</div>
</div>