<div class="wrapper">
	@@include('../template/breadcrumbs.html')
	<div class="catalog white-block flex">
		<div class="catalog-list">
			<h2 class="catalog-list__caption">Каталог игрушек</h2>
			<ul class="">
				<li>
					<a href="#">Аксессуары для кукол</a>
				</li>
				<li>
					<a href="#">Детское оружие</a>
				</li>
				<li>
					<a href="#">Игрушки для малышей</a>
					<ul>
						<li>
							<a href="#"> Игрушки для ванны</a>
							<span class="catalog-list__quantity">(45)</span>
						</li>
						<li>
							<a href="#">Игрушки для песка и воды</a>
							<span class="catalog-list__quantity">(52)</span>
						</li>
						<li>
							<a href="#">Пирамидки, сортеры</a>
							<span class="catalog-list__quantity">(83)</span>
						</li>
						<li>
							<a href="#">Развивающие игрушки</a>
							<span class="catalog-list__quantity">(113)</span>
						</li>
					</ul>
				</li>
				<li>
				   <a href="#">Куклы Berjuan</a>
				</li>
				<li>
					<a href="#">Куклы Doll Factory</a>
				</li>
				<li>
				   <a href="#">Куклы Kruselings</a>
				</li>
				<li>
				   <a href="#">Куклы Paola Reina</a>
				</li>
				<li>
					<a href="#">Куклы Reina del Norte</a>
				</li>
				<li>
				   <a href="#">Музыкальные инструменты</a>
				</li>
				<li>
				   <a href="#">Мягкие игрушки</a>
				</li>
				<li>
					<a href="#">Настольные игры</a>
				</li>
				<li>
				   <a href="#">Радиоуправляемые игрушки</a>
				</li>
				<li>
				   <a href="#">Развивающие игрушки</a>
				</li>
				<li>
					<a href="#">Сюжетно-ролевые игрушки</a>
				</li>
				<li>
				   <a href="#">Творчество</a>
				</li>
				<li>
				   <a href="#">Товары для улицы</a>
				</li>
				<li>
					<a href="#">Транспорт</a>
				</li>
				<li>
				   <a href="#">Трехколесные круизеры</a>
				</li>
				<li>
					<a href="#">Фигурки</a>
				</li>
				<li>
				   <a href="#">Уцененный товар</a>
				</li>
			</ul>
		</div>
		<div class="catalog__right-part">
			<h1 class="catalog__caption">Интерактивные мягкие животные</h1>
			<div class="plates catalog__plates flex">
				@@loop('../template/catalog_plate.html',[
					{"title":"Интерактивная игрушка Pomsies Виола "},
					{"title":"Интерактивная игрушка Pomsies Единорожка Викси"},
					{"title":"Интерактивная игрушка Zoomer Hedgiez "}
					])
				@@loop('../template/catalog_plate2.html',[
					{"title":"Интерактивная игрушка Pomsies Виола "},
					{"title":"Интерактивная игрушка Pomsies Единорожка Викси"},
					{"title":"Интерактивная игрушка Zoomer Hedgiez "}
					])
				@@loop('../template/catalog_plate3.html',[
					{"title":"Интерактивная игрушка Pomsies Виола "},
					{"title":"Интерактивная игрушка Pomsies Единорожка Викси"},
					{"title":"Интерактивная игрушка Zoomer Hedgiez "}
					])
			</div>
			@@include('../template/pagination.html') 
			<div class="info">
				<h2 class="info__caption">Интерактивные животные – познаем мир весело и безопасно</h2>
				<p class="info__description">Индустрия игрушек постоянно развивается – новые технологии служат не только взрослым, но и малышам. У плюшевых зверушек и роботов, которые имитируют настоящих животных, целый ряд преимуществ: они безопасны для аллергиков, не кусаются и не царапаются, не могут покалечиться или погибнуть. В то же время игры с интерактивными животными прекрасно развивают чувство ответственности за того, кто рядом.</p>
				<h2 class="info__caption">Что могут делать современные интерактивные игрушки</h2>
				<p class="info__description">Идея куклы, медвежонка или робота, которые двигаются или воспроизводят звуки, не нова. Такие игрушки изобрели давно, но год от года их способности совершенствуются, что неизменно приводит детей в восторг. Чему «научились» игрушки, пройдя долгий путь от мишутки, который просто рычал при переворачивании: выполнять сложные движения, отображать разные эмоции, реагировать на действия человека (например, мурлыкать от поглаживания), воспроизводить поведение настоящего животного (просить есть, спать, играть, ластиться), повторять слова за человеком и даже отвечать на некоторые вопросы осмысленными фразами, самостоятельно ориентироваться в пространстве.</p>
			</div>
		</div>
	</div>
</div>
