<div class="figures-screen">
	<div class="video-background">
		<iframe src="https://www.youtube.com/embed/hSqMC-hQcWQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=hSqMC-hQcWQ&start=0&mute=1" allowfullscreen></iframe>
	</div>
	<div class="figures-screen__content">
		<div class="wrapper">
			<div class="figures-screen__caption">Логартхаус в цифрах</div>
			<div class="figures flex">
				<div class="figures__wrapper flex">
					<div class="figures__item">
						<div class="figures__quantity"><span>2 000</span> м&sup3;</div>
						<div class="figures__description">Производственная мощность предприятия</div>
					</div>
					<div class="figures__item">
						<div class="figures__quantity"><span>4,2</span> га</div>
						<div class="figures__description">Площадь территории</div>
					</div>
					<div class="figures__item">
						<div class="figures__quantity"><span>2 500</span> м&sup3;</div>
						<div class="figures__description">Площадь производственных цехов</div>
					</div>
					<div class="figures__item">
						<div class="figures__quantity"><span>14</span> ед.</div>
						<div class="figures__description">Производственного оборудования</div>
					</div>
					<div class="figures__item">
						<div class="figures__quantity"><span>5</span> ед.</div>
						<div class="figures__description">Погрузочной техники</div>
					</div>
					<div class="figures__item">
						<div class="figures__quantity"><span>10 801,99</span> м&sup3;</div>
						<div class="figures__description">Произведено домокомплектов общей площадью 32 190</div>
					</div>
					<div class="figures__item">
						<div class="figures__quantity"><span>50</span> чел.</div>
						<div class="figures__description">Общая штатная численность</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>