<header class="header-small">  
	<div class="header__content flex_between">
		<div class="header-small__left-part flex">
			<div class="burger">
				<span></span>
			</div>
			<div class="languages flex">
				<div class="languages__item">Ru</div>
				<div class="languages__item">En</div>
				<div class="languages__item">De</div>
				<div class="languages__item">Zh</div>
			</div>
		</div>
		<div class="header__center-block">
			<a href="/" class="logo logo_small"></a>
			<div class="languages languages_mobile flex">
				<div class="languages__item">Ru</div>
				<div class="languages__item">En</div>
				<div class="languages__item">De</div>
				<div class="languages__item">Zh</div>
			</div>
		</div>
		<div class="header__contacts">
			<div class="header-small__contacts flex">
				<a href="tel:88005055403" class="header__contact header__contact_phone">8 800 505 54 03</a>
				<a href="mailto:info@logarthouse.ru" class="header__contact header__contact_mail">info@logarthouse.ru</a>
			</div>
			<a href="#" class="header__call-order button button_transparent">Задать вопрос</a>
		</div>
		<a href="#" class="header__contact_mobile"></a>
	</div> 
</header>
<div class="menu-screen">
	<div class="menu-screen__background"></div>
	<div class="burger">
		<span></span>
	</div>
	<div class="menu-screen__content flex">
		<div class="logo-menu"></div>
		<nav class="navbar">
			<ul class="menu">
				<li class="menu-item-has-children">
					<a href="#">Типовые проекты</a>
					<ul class="sub-menu">
						<li><a href="#">- Проекты</a></li>
						<li><a href="#">- Проектирование и архитектурный дизайн</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#">Производство</a>
					<ul class="sub-menu">
						<li><a href="#">-  Сырые</a></li>
						<li><a href="#">-  Клеевые системы</a></li>
						<li><a href="#">-  Антисептирование</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a href="#">Продукты</a>
					<ul class="sub-menu">
						<li><a href="#">-  Клееный брус</a></li>
						<li><a href="#">-  Погонажные изделия</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
				   <a href="#">Стать партнером</a>
				   <ul class="sub-menu">
						<li><a href="#">-  Поставщикам</a></li>
						<li><a href="#">-  Строительная компания</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Новости</a>
				</li>
				<li>
				   <a href="#">Как нас найти</a>
				</li>
			</ul>
		</nav>
	</div>
</div>