<div class="main-screen">
	<div class="video-background">
		<iframe src="https://www.youtube.com/embed/SJXlbfs5K6w?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=SJXlbfs5K6w&start=0&mute=1&autohide=1&modestbranding=1" allowfullscreen></iframe>
	</div>
	<div class="main-screen__content">
		<div class="wrapper">
			<div class="main-screen__caption">Производство домов из клеенного бруса<br>и сухих строганых изделий</div>
			<div class="main-screen__small-caption">Хороший продукт за хорошие деньги в одном месте!</div>
			<a href="#popup-form_questions" data-fancybox=""  class="button button_orange">Приехать посмотреть</a>
			<div id="popup-form_questions" class="popup-form" style="display: none;">
				<div class="header__content flex_between">
					<div class="header-small__left-part flex">
						<div class="burger">
							<span></span>
						</div>
					</div>
					<div class="header__center-block">
						<a href="/" class="logo logo_small"></a>
					</div>
				</div>
				<div class="popup-form__caption">Рассчитать проект</div>
				<iframe class="form-iframe form-iframe_footer" src="form2.html" width="100%" height="420" align="center"></iframe> 
			</div>
		</div>
	</div>
	<div class="main-screen__mouse"></div>
</div>