<div class="main-screen">
	<div class="video-background">
		<iframe src="https://www.youtube.com/embed/SJXlbfs5K6w?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=SJXlbfs5K6w&start=0&mute=1" allowfullscreen></iframe>
	</div>
	<div class="main-screen__content">
		<div class="wrapper">
			<div class="main-screen__caption">Производство домов из клеенного бруса и сухих строганых изделий</div>
			<div class="main-screen__small-caption">Хороший продукт за хорошие деньги в одном месте!</div>
			<a href="#" class="button button_orange">Приехать посмотреть</a>
		</div>
	</div>
</div>