<div class="last-news">
    <div class="wrapper">
        <div class="article-list flex white-block">
            <a href="#" class="article-list__item">
                <div class="article-list__photo"></div>
                <div class="article-list__date">02.05.2019</div>
                <div class="article-list__caption">Новые игрушки-пушастики для маленьких принцесс</div>
                <div class="article-list__description">Рады презентовать новую серию интерактивных мягких игрушек для девочек от 3 до 7 лет. В коллекцию...</div>
            </a>
            <a href="#" class="article-list__item">
                <div class="article-list__photo"></div>
                <div class="article-list__date">29.04.2019</div>
                <div class="article-list__caption">Победители апрельского конкурса в VK!</div>
                <div class="article-list__description">30 декабря 2018 г были озвучены победители большого Новогоднего конкурса в ВКонтакте. Все работы...</div>
            </a>
            <a href="#" class="article-list__item">
                <div class="article-list__photo"></div>
                <div class="article-list__date">18.04.2019</div>
                <div class="article-list__caption">Легендарным куклам «Paola Reina» 25 лет</div>
                <div class="article-list__description">В честь юбилея Paola Reina, на заказы поступившие с 19.04.2019г скидка 5% на весь ассортимент...</div>
            </a>
            <a href="#" class="article-list__item">
                <div class="article-list__photo"></div>
                <div class="article-list__date">08.03.2019</div>
                <div class="article-list__caption">Поздравляем женщин с праздником 8 марта</div>
                <div class="article-list__description">В этот светлый весенний день примите наши поздравления и скидку 5% на все группы товаров в...</div>
            </a>
        </div>
    </div>
</div>