<div class="partners-screen">
	<div class="wrapper">
		<div class="caption">C нами работают</div>
		<div class="partners-mobile flex">
			<div class="partners__item">
				<div class="partners__partner partners__partner_basf"></div>
			</div>
			<div class="partners__item">
				<div class="partners__partner partners__partner_wood"></div>
			</div>
			<div class="partners__item">
				<div class="partners__partner partners__partner_teknos"></div>
			</div>
			<div class="partners__item">
				<div class="partners__partner partners__partner_fordaq"></div>
			</div>
			<div class="partners__item">
				<div class="partners__partner partners__partner_sberbank"></div>
			</div>
			<div class="partners__item">
				<div class="partners__partner partners__partner_vtb"></div>
			</div>
			<div class="partners__item">
				<div class="partners__partner partners__partner_muhlbock"></div>
			</div>
			<div class="partners__item">
				<div class="partners__partner partners__partner_akzonobel"></div>	
			</div>	
		</div>
	</div>
	<div class="partners flex">
		<div class="partners__item">
			<div class="partners__item-wr flex">
				<div class="partners__content">
					<div class="partners__partner partners__partner_basf"></div>
					<div class="partners__description">Австрийский производитель автоматизированных комплексов для сушки древесины</div>
				</div>
			</div>
		</div>
		<div class="partners__item">
			<div class="partners__item-wr partners__item-wr_colored flex">
				<div class="partners__content">
					<div class="partners__partner partners__partner_wood"></div>
					<div class="partners__description">Австрийский производитель автоматизированных комплексов для сушки древесины</div>
				</div>
			</div>
		</div>
		<div class="partners__item">
			<div class="partners__item-wr flex">
				<div class="partners__content">
					<div class="partners__partner partners__partner_teknos"></div>
					<div class="partners__description">Австрийский производитель автоматизированных комплексов для сушки древесины</div>
				</div>
			</div>
		</div>
		<div class="partners__item">
			<div class="partners__item-wr partners__item-wr_colored flex">
				<div class="partners__content">
					<div class="partners__partner partners__partner_fordaq"></div>
					<div class="partners__description">Австрийский производитель автоматизированных комплексов для сушки древесины</div>
				</div>
			</div>
		</div>
		<div class="partners__item">
			<div class="partners__item-wr partners__item-wr_colored flex">
				<div class="partners__content">
					<div class="partners__partner partners__partner_sberbank"></div>
					<div class="partners__description">Австрийский производитель автоматизированных комплексов для сушки древесины</div>
				</div>
			</div>
		</div>
		<div class="partners__item">
			<div class="partners__item-wr flex">
				<div class="partners__content">
					<div class="partners__partner partners__partner_vtb"></div>
					<div class="partners__description">Австрийский производитель автоматизированных комплексов для сушки древесины</div>
				</div>
			</div>
		</div>
		<div class="partners__item">
			<div class="partners__item-wr partners__item-wr_colored flex">
				<div class="partners__content">
					<div class="partners__partner partners__partner_muhlbock"></div>
					<div class="partners__description">Австрийский производитель автоматизированных комплексов для сушки древесины</div>
				</div>
			</div>
		</div>
		<div class="partners__item">
			<div class="partners__item-wr flex">
				<div class="partners__content">
					<div class="partners__partner partners__partner_akzonobel"></div>
					<div class="partners__description">Австрийский производитель автоматизированных комплексов для сушки древесины</div>
				</div>
			</div>	
		</div>	
	</div>
</div>