<div class="partners-screen">
	<div class="wrapper">
		<div class="caption">C нами работают</div>
	</div>
	<div class="partners flex">
		<div class="partners__partner-wr flex">
			<div class="partners__partner partners__partner_basf"></div>
		</div>
		<div class="partners__partner-wr partners__partner-wr_colored flex">
			<div class="partners__partner partners__partner_wood"></div>
		</div>
		<div class="partners__partner-wr flex">
			<div class="partners__partner partners__teknos_teknos"></div>
		</div>
		<div class="partners__partner-wr partners__partner-wr_colored flex">
			<div class="partners__partner partners__teknos_fordaq"></div>
		</div>
		<div class="partners__partner-wr partners__partner-wr_colored flex">
			<div class="partners__partner partners__partner_sberbank"></div>
		</div>
		<div class="partners__partner-wr flex">
			<div class="partners__partner partners__partner_vtb"></div>
		</div>
		<div class="partners__partner-wr partners__partner-wr_colored flex">
			<div class="partners__partner partners__partner_muhlbock"></div>
		</div>
		<div class="partners__partner-wr flex">
			<div class="partners__partner partners__partner_akzonobel"></div>
		</div>		
	</div>
</div>