<div class="types-screen">
	<div class="wrapper">
		<div class="caption">Наша команда</div>
		<div class="slick-team">
			<div class="slick-team__inner">
				<div class="slick-team__icon slick-team__icon_1"></div>
				<div class="slick-team__name">Иванов Максим</div>
				<div class="slick-team__description">Можете обращаться по любым вопросам, связанным с деятельностью организации</div>
				<a href="#" class="slick-team__button button button_transparent">Связаться</a>
			</div>
			<div class="slick-team__inner">
				<div class="slick-team__icon slick-team__icon_2"></div>
				<div class="slick-team__name">Смирнова Анна</div>
				<div class="slick-team__description">Можете обращаться по любым вопросам, связанным с деятельностью организации</div>
				<a href="#" class="slick-team__button button button_transparent">Связаться</a>
			</div>
			<div class="slick-team__inner">
				<div class="slick-team__icon slick-team__icon_3"></div>
				<div class="slick-team__name">Григорьев Артур</div>
				<div class="slick-team__description">Можете обращаться по любым вопросам, связанным с деятельностью организации</div>
				<a href="#" class="slick-team__button button button_transparent">Связаться</a>
			</div>
			<div class="slick-team__inner">
				<div class="slick-team__icon slick-team__icon_4"></div>
				<div class="slick-team__name">Иванов Максим</div>
				<div class="slick-team__description">Можете обращаться по любым вопросам, связанным с деятельностью организации</div>
				<a href="#" class="slick-team__button button button_transparent">Связаться</a>
			</div>
		</div>
	</div>
</div>